// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
$sans: 'Lato', Arial, Helvetica, sans-serif;

// Colors
$dark-blue: #031b4e;
$black: #000;
$white: #fff;

// Sizes
$small: 425px;
