<div class="header-container">
    <header class="header">
        <div class="header__content">
            <h1 class="page-title"><a href="{{{ url }}}">{{ author }}<span class="highlight">{{ title }}</span></a></h1>
        </div>
    </header>
</div>
