<article class="post">
    <div class="post__date">
        <time>{{ date }}</time>
    </div>
    <div class="post__image">
        <a href="/{{{ id }}}"><img srcset="{{{ srcset }}}" src="{{{ src }}}" alt="{{{ caption }}}"></a>
        <h2>{{ caption }}</h2>
    </div>
</article>
